@import url('https://fonts.googleapis.com/css?family=Cinzel|PT+Serif');
            
            body {
                background-color: floralwhite;
            }
            h2 {
                font-family: "PT Serif";
            }
            h3, h4 {
                font-weight: 300;
            }
            #delete-acc {
                border-bottom: 1px solid;
            }

