 <section style="background: linear-gradient(to top left, #66ffff 0%, #ff99cc 100%);" class="foot p-3   text-white ">
            <div class="text-center text-black">
                &copy; Website created with <i class="fa fa-heart" style="color: hsl(0, 89%, 64%);"></i> by <a href="https://github.com/Ramudgar/Modern_web-Banking-System-" target="_blank">Ram Udgar Yadav</a>    
                <br>
                <i></i><a> Bank Management System 2021</a>
            </div>
        </section>   