{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8" />

    {% block title%} {{section.title}} {% endblock%}
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    
    <link
      rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

      <style>
        p.error{
          color:red;
        }
      </style>

    {% block stylecontent %} {% endblock %}
    
    
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Ram Bank</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-2  ">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="{% url 'accounts:signup' %}" ><i class="fas fa-user-plus"></i>Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'accounts:signin' %}"><i class="fas fa-sign-in-alt"></i>Sign IN</a>
            </li>
            
          </ul>
         
        </div>
      </div>
    </nav>
    
    

    {% block bodycontent %} {% endblock %}

    <!--  footer is added here      -->
    {% include 'footer.html' %}

<!-- JS LIBRARIES REQUIRED -->
<script src="https://use.fontawesome.com/356798542b.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>


     

    {% block scriptcontent %} {% endblock %}
  </body>
</html>
