{% extends 'layout.html' %} {% load static %} {% block title %}
<title>register</title>
{% endblock %} {% block stylecontent %}
<style>
h3{
	margin-bottom: 5px;
	text-align: center;
	color:deepskyblue;}
	#un{
		font-size: 20px;
		margin: 2px;
		color:violet;
		text-decoration: underline;
	}
  .auth-validate-form button{
    background-color: darkseagreen;
  }
	
</style>
  {% endblock %} 
{% block bodycontent %}


<div class="container " style="margin-top:45px;">
  {% include 'messages.html' %}
	<h3 > <strong>Welcome To Ram Bank</strong><br>
   <p id="un">Create Your Account Here</p></h3>
  <div class="row justify-content-md-center">
    <div class="col-md-5 col-sm-2">
      <div class="signup-form">
        <div class="messages"></div>
        <h3>Create account</h3>
        <form action="" method="POST" class="auth-validate-form">
          {% csrf_token %} 
		  {% for field in form %}
          <div class="form-group registration-form">
            {{ field.label_tag }}<br />
            {{ field }}
			 {% if field.help_text %}
			 {% endif %} 
			 {% for error in field.errors %}
            <p style="color: red; font-size: 13px">{{ error }}</p>
            {% endfor %}
          </div>
          {% endfor %}
          <button class="btn btn-danger">Create you Bank account</button>
        </form>
        <div class="a-divider-break"></div>
        <div class="a-divider-inner">
          <div class="a-row">
            Already have an account?
            <a class="a-link-emphasis" href="{% url 'accounts:signin' %}"
              ><i class="fa fa-caret-right"></i> Sign in</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
 {% block scriptcontent %}
  {% endblock %}
