{% extends 'layout.html' %} {% load static %} {% block title %}
<title>login</title>
{% endblock %} {% block stylecontent %}
<style>
h1{
margin-top: 20px;
text-align: center;
color:deepskyblue;
} 
</style>

{% endblock %} {% block bodycontent %}

<div class="container-fluid mt-5">
	<h1 >Welcome To Ram Bank</h1>
  <div class="row justify-content-md-center">
    <div class="col-md-4 col-sm-3">
      <div class="signin-form">
        {% if messages %}
        <div class="messages">
          {% for message in messages %}
          <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>
            {{ message }}
          </p>
          {% endfor %}
        </div>
        {% endif %}
        <h3>Sign In</h3>
        <form action="" method="POST" class="auth-validate-form">
          {% csrf_token %}
          <div class="form-group">
            <label>Username</label>
            <input type="text" name="user" placeholder="Enter your username" class="form-control" />
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" placeholder="Enter your password" name="pass" class="form-control" />
          </div>
          <button type="submit" class="btn btn-danger">Login</button>
        </form>
        <a href="{% url 'accounts:reset_password' %}">Forgot your password?</a>
        <div class="a-divider-break"><h5>New to Ram's Bank?</h5></div>
        <a class="btn btn-default" href="{% url 'accounts:signup' %}"
          >Create your Bank account</a
        >
      </div>
    </div>
  </div>
</div>

<!-- </body>
</html> -->
{% endblock %} {% block scriptcontent %} {% endblock %}
