{% extends 'profiles/profile_base_layout.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% block title%}
<title>delete</title>
{% endblock%}

{% block headcontent %}
<link
rel="stylesheet"
type="text/css"
href="{% static 'css/setting.css' %}"
/>
    
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block bodycontent %}
    <section id="welcome_post" class="col-9">   
        <h3 style="font-weight: 300;" >Deleting the account means:</h3>
        <ul type="square">
            <li>Permanent loss of your account balance (so <a href="{% url 'profiles:money_transfer' %}">transfer your money</a> to a different account first). </li>
            <li>Permanent loss of your account data, settings, and details.</li>
        </ul>

        <h3 style="font-weight: 300;" >By pressing the following button, you understand the shortcomings as described in <a href="#">here</a>. </h3>
        
        
        <form method="POST">
            
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete User Account</legend>
                    <p style="color:crimson">Are you sure you want to delete your account?  This will permanently delete your
                       profile and any content you have generated.</p>
                       {% csrf_token %}
                    {{ delete_form | crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-danger" onclick="return confirm('Are you sure want to delete this user?')" type="submit">Delete Account</button>
                    <button class="btn btn-primary"  
                       href="{% url 'profiles:account_status' %}">Cancel</button>
            </div>
        </form>
        
       
        
    </section>
{% endblock %}

{% block scriptcontent %}
 
{% endblock %}
