{% extends 'profiles/profile_base_layout.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block title%}
<title>profile</title>
{% endblock%}
{% block headcontent %}

<link
rel="stylesheet"
type="text/css"
href="{% static 'css/setting.css' %}"
/>

{% endblock %}
        

{% block bodycontent %}

<div class="card text-center m-5  " id="deposit" style="width: 23rem;height:25rem; background: linear-gradient(to top left, #66ffff 0%, #ff99cc 100%);">
    <div class="card-body ">
        <h3 style="border-bottom: 3px solid rgb(161, 56, 175);color:rgb(30, 38, 141)"> Deposit Form  </h3>
        <form action="{ url 'profiles:deposit' }" method="POST">
            {% csrf_token %}
            {{form | crispy}}
            <div class="text-right mt-4">
                        <button type="submit" class="btn btn-primary">Deposit</button>
                    </div>
                </div>
                </div>
            
            
        </form>
    </div>
  </div>


    
{% endblock %}

{% block scriptcontent %}
    <script>
        $(".current").removeClass("current");
        $("#deposit").addClass("current");
    </script>
    
{% endblock %}
