{% extends 'profiles/profile_base_layout.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% block title%}
<title>details setting</title>
{% endblock%}

{% block headcontent %}
<link
rel="stylesheet"
type="text/css"
href="{% static 'css/setting.css' %}"
/>
        
        <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block bodycontent %}
    <section id="welcome_post" class="col-9">                
        <h4 style="font-weight: 300;" >
            Only the following details can be edited. For the rest, kindly visit the bank in person.
        </h4>
        <br>
         <!-- EDIT PRESENT LOCATION -->
         <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#basic">Edit present location</button>
        
         <div class="modal fade" id="basic" tabindex="-1" role="dialog" aria-labelledby="basic" aria-hidden="true">
             <div class="modal-dialog" role="document">
             <div class="modal-content">
                 <div class="modal-header">
                 <h5 class="modal-title" id="exampleModalLabel">Edit Basic Details</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
                 </div>
                 <form action="{ url 'profiles:edit_details' }" method="post" enctype="multipart/form-data" id="basic">
                     <div class="modal-body">
                         {% csrf_token %}
                         {{ form1 | crispy }}
                     </div>
                     <div class="modal-footer">
                     <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                     <button type="submit" class="btn btn-primary">Edit details</button>
                     </div>
                 </form>
                 
             </div>
             </div>
         </div>
         (Email, Mobile number, Occupation)
         <br> <br>
       
        
        <!-- EDIT PRESENT LOCATION -->
        <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#location">Edit present location</button>
        
        <div class="modal fade" id="location" tabindex="-1" role="dialog" aria-labelledby="location" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit present location</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <form action="{ url 'profiles:edit_details' }" method="post" enctype="multipart/form-data" id="location">
                    <div class="modal-body">
                        {% csrf_token %}
                        {{ form2 | crispy }}
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Edit details</button>
                    </div>
                </form>
                
            </div>
            </div>
        </div>
        (Country, State, City, Street, Pincode)
        <br> <br>
        
        <!-- EDIT ACCOUNT DETAILS -->
        <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#account">Edit account details</button> 
        <div class="modal fade" id="account" tabindex="-1" role="dialog" aria-labelledby="account" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit account type</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    Account type: <br>
                    <input type="radio" checked> Savings
                    <br>
                    <span class="small">(Presently, we only support Savings accounts)</span>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
                
            </div>
            </div>
        
    </div>
    (Account type)
    <br><br>
    <!-- EDIT PASSWORD -->
    <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#password">Edit password</button>
    <div class="modal fade" id="password" tabindex="-1" role="dialog" aria-labelledby="password" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit password</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <form>
                <div class="modal-body">
                    
                    {% csrf_token %}
                    {{ form3 | crispy }}
                    Prove you are human
                    <div class="g-recaptcha" data-sitekey="6Ld_qjQUAAAAADjv2scrqpvXK4OrBZALRJFMANpP"></div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Update password</button>
                </div>
            </form>
            
        </div>
        </div>
    </div>    
   
</section>
        
        
{% endblock %}

{% block scriptcontent %}
    <script>
        $(".current").removeClass("current");
        $("#details").addClass("current");

        $("input").addClass("form-control");
        $("input[type=radio]").removeClass("form-control");
    </script>
{% endblock %}
