{% extends 'profiles/profile_base_layout.html' %}
{% load static %}
{% block title%}
<title>loan</title>
{% endblock%}
{% block headcontent %}
<link
rel="stylesheet"
type="text/css"
href="{% static 'css/setting.css' %}"
/>
{% endblock %}

{% block bodycontent %}
    <section id="welcome_post" class="col-9">
        <h2>Welcome, <span id="prof_name">{{ user }}.</span> </h2>
        <h4 style="font-weight: 300;">It's good to have you here.</h4>   
        <br>   
        
        <form>
            <h3 style="font-weight: 300;">
                What do you need the loan for?
                <input type="text" class="form-control" id="loan_type" required>
            </h3>
            <br>
            <h3 style="font-weight: 300;">
                Enter the amount of loan needed (₱)
                <input type="number" class="form-control" id="loan_amt" required>
            </h3>
            <small>Please read the <a href="#">Terms and Conditions</a> before requesting for loan</small>. <br>
            <button class="btn btn-primary" type="button" id="loan_submit">Request loan</button>
        </form>
        
    </section>
{% endblock %}         

{% block scriptcontent %}
    <script>
        $(".current").removeClass("current");
        $("#loan").addClass("current");

        $("#loan_submit").click(function() {
            var msg = "Your loan has been requested. You'll be notified if it gets approved in 24 hours. Press OK."
            
            if(
                $("#loan_type").val() =="" || 
                $("#loan_amt").val() == ""
            )
                    msg = "Error: One or more of the required fields is missing";
                
            
            alert(msg);
        });
    </script>
{% endblock %}
