{% extends 'profiles/profile_base_layout.html' %}
{% load static %}
{% load crispy_forms_filters %}

{% block title%}
<title>loan</title>
{% endblock%}
{% block headcontent %}
<link
rel="stylesheet"
type="text/css"
href="{% static 'css/setting.css' %}"
/>
<link
rel="stylesheet"
type="text/css"
href="{% static 'css/transaction.css' %}"
/>
{% endblock %}

{% block bodycontent %}
    <section id="welcome_post" class="col-9">
        <h2>Welcome, <span id="prof_name">{{ user }}.</span> </h2>
        <h4 style="font-weight: 300;">It's good to have you here.</h4>   
        <br>   
        
        
        <form action="{ url 'profiles:loan_app' }" method="post">
            {% csrf_token %}
             

            <h3 style="font-weight: 300;">
                
                {{ form1|crispy }}
            </h3>
            
            <small>By transferring money from your account, you agree to the <a href="#">Terms and Conditions</a> of amount transfer</small>. <br>
            <button type="submit" class="btn btn-danger">Ask for Loan</button>
        
        </form>
        
    </section>
{% endblock %}         

{% block scriptcontent %}
    <script>
        $(".current").removeClass("current");
        $("#loan").addClass("current");

        $("#loan_submit").click(function() {
            var msg = "Your loan has been requested. You'll be notified if it gets approved in 24 hours. Press OK."
            
            if(
                $("#loan_type").val() =="" || 
                $("#loan_amt").val() == ""
            )
                    msg = "Error: One or more of the required fields is missing";
                
            
            alert(msg);
        });
    </script>
{% endblock %}
