{% extends 'profiles/profile_base_layout.html' %}
{% load static %}
{% block title%}
<title>profile</title>
{% endblock%}
{% block headcontent %}
<link
rel="stylesheet"
type="text/css"
href="{% static 'css/setting.css' %}"
/>
{% endblock %}
        

{% block bodycontent %}
    <section id="welcome_post" class="col-9">
        <h4 style="font-weight: 300;" >
            Sorry, the bank currently does not support the feature of online payments. Read the <a href="#" class="text-center">Terms and Conditions</a>
            to know more.</h4>
    </section>
{% endblock %}

{% block scriptcontent %}
    <script>
        $(".current").removeClass("current");
        $("#online").addClass("current");
    </script>
{% endblock %}
