{% extends 'profiles/profile_base_layout.html' %}
{% load static%}
{% block title%}
<title>profile</title>
{% endblock%}
{% block headcontent %}
<link
rel="stylesheet"
type="text/css"
href="{% static 'css/setting.css' %}"
/>
{% endblock %}

{% block bodycontent %}

    <section id="welcome_post" class="col-9">
        <h2>Welcome, <span id="prof_name">{{ user }}.</span> </h2>
        <h4 style="font-weight: 300;">It's good to have you here.</h4>   
        <br>
        
        <div class="text-center curr_bal"> 
            <h4>ACCOUNT NUMBER</h4> 
            <h1 id="curr_bal" class="btn-success">{{ curr_user.account_number }}</h1>
        </div>
        <br>
        <div class="text-center curr_bal"> 
            <h4>CURRENT BALACE IN YOUR ACCOUNT</h4> 
            <h1 id="curr_bal" class="btn-danger">₱{{ curr_user.balance }}</h1> 
        </div>
        <br>
        <div class="text-center curr_bal"> 
            <h4>ACCOUNT TYPE</h4> 
            <h1 id="curr_bal" class="btn-info">SAVINGS</h1>
        </div>
        
    </section>

{% endblock %}