{% extends 'profiles/profile_base_layout.html' %}
{% load static%}
{% block title%}
<title>account setting</title>
{% endblock%}
{% block headcontent %}
   
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/setting.css' %}"
    />
{% endblock %}
        
{% block bodycontent %}
    <section id="welcome_post" class="col-9">
        <h4 style="font-weight: 300;" >
            Branch name
            <input type="text" class="form-control" value="Kathmandu Branch" disabled> <br>
            
            Branch code
            <input type="text" class="form-control" value="RKB101" disabled> <br>
            
            Account type <br>
            <h6><input type="radio" checked> Savings</h6>
            
            <br> None of these settings is changeable. Visit the bank in person to change them.                    
        </h4>
    </section>
{% endblock %}

{% block scriptcontent %}
    <script>
        $(".current").removeClass("current");
        $("#settings").addClass("current");
    </script>
{% endblock %}
