{% extends 'profiles/profile_base_layout.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% block title%}
<title>withdraw_money</title>
{% endblock%}
{% block headcontent %}
<link
rel="stylesheet"
type="text/css"
href="{% static 'css/setting.css' %}"
/>
{% endblock %}

{% block bodycontent %}

<div class="card text-center m-5  " id="withdraw" style="width: 23rem;height:25rem; background: linear-gradient(to top left, #66ffff 0%, #ff99cc 100%);">
    <div class="card-body ">
        <h3 style="border-bottom: 3px solid rgb(161, 56, 175);color:rgb(30, 38, 141)"> Withdraw Form  </h3>
        <form action="{ url 'profiles:withdraw' }" method="POST">
            {% csrf_token %}
            {{form | crispy}}
                    <div class="text-right mt-4">
                        <button type="submit" class="btn btn-primary">Withdraw</button>
                    </div>
                </div>
                </div>  
        </form>
    </div>
  </div>

{% endblock %}

{% block scriptcontent %}
    <script>
        $(".current").removeClass("current");
        $("#withdraw").addClass("current");
    </script>
{% endblock %}
